body {
  margin: 0;
}

header {
  background-color: #F1634F;
  padding: 67px 0;
}

header > h1 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 800;
  margin: 0 0 40px 0;
  text-align: center;
}

header > .nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul > li {
  display: inline;
  margin: 0 5px;
}

li > a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}
